In [2]:
import pandas as pd
from pandas.io.json import json_normalize
pd.options.display.max_rows = 999

import time
import datetime as dt
import numpy as np
import shutil
import os
from pathlib import Path
import requests
import json
import csv
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

#import plotly.express as px
#import plotly.graph_objs as go
#import matplotlib.pyplot as plt

import streamlit as st
import time

pd.options.mode.chained_assignment = None

In [9]:
strava_activities_raw = pd.read_csv('strava_activities.csv')

In [10]:
cols_to_drop = ['Unnamed: 0', 'resource_state', 'start_date_local', 'timezone', 
'utc_offset', 'trainer', 'commute', 'manual', 'visibility', 'flagged', 'gear_id', 'start_latlng', 'end_latlng', 'display_hide_heartrate_option',
'upload_id_str', 'external_id', 'from_accepted_tag', 'total_photo_count', 'athlete.resource_state', 'map.id', 'map.summary_polyline', 'map.resource_state', 
'average_watts', 'kilojoules', 'device_watts', 'heartrate_opt_out', 'upload_id', 'athlete.id', 'workout_type',
'has_heartrate', 'location_city', 'location_state', 'location_country']

strava_activities = strava_activities_raw.drop(labels=cols_to_drop, axis=1)

In [11]:
strava_activities.head()

,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,id,start_date,achievement_count,...,max_speed,average_cadence,average_temp,average_heartrate,max_heartrate,elev_high,elev_low,pr_count,has_kudoed,suffer_score
0,Afternoon Run,9684.7,3682,3685,314.0,Run,Run,7395188303,2022-06-30T21:39:30Z,11,...,4.392,84.4,28.0,154.1,180.0,183.2,48.2,6,False,102.0
1,Afternoon Golf,10366.5,10586,14280,120.0,Golf,Golf,7390944431,2022-06-30T00:12:17Z,0,...,2.624,NaN,28.0,102.5,148.0,93.8,68.4,0,False,29.0
2,Lunch Run,6529.2,2165,2168,132.0,Run,Run,7389543804,2022-06-29T19:24:38Z,3,...,4.302,87.0,27.0,150.8,167.0,181.4,49.0,0,False,47.0
3,Lunch Run,9723.3,3264,3304,61.0,Run,Run,7384051727,2022-06-28T19:05:39Z,0,...,4.058,85.2,23.0,149.2,159.0,83.6,45.6,0,False,73.0
4,Morning Run,32196.4,12853,12931,362.0,Run,Run,7373215314,2022-06-26T13:58:16Z,26,...,4.490,85.8,25.0,145.7,163.0,258.0,87.6,11,False,229.0

In [4]:
def get_strava_data():
    with open('strava_tokens.json') as json_file:
        strava_tokens = json.load(json_file)

    if strava_tokens['expires_at'] < time.time():
        response = requests.post(
                            url = 'https://www.strava.com/oauth/token',
                            data = {
                                    'client_id': 88709,
                                    'client_secret': '54dab45b88619205ee1e47eb94d0f2d84762a4b2',
                                    'grant_type': 'refresh_token',
                                    'refresh_token': strava_tokens['refresh_token']
                                    }
                        ) 
        new_strava_tokens = response.json() 
        with open('strava_tokens.json', 'w') as outfile:
            json.dump(new_strava_tokens, outfile)
        strava_tokens = new_strava_tokens

    page = 1
    url = "https://www.strava.com/api/v3/activities"
    access_token = strava_tokens['access_token']

    activities = pd.DataFrame()

    while True:
        r = requests.get(url + '?access_token=' + access_token + '&per_page=200' + '&page=' + str(page))
        r = r.json()
        r_df = pd.DataFrame.from_dict(r, orient='columns')
            
        
        
        if (not r):   # if no results then exit loop
            break
        
        if not bool([v for v in list(strava_activities_raw_1.id) if v not in list(test_str_activities_raw.id)]):
            break

        activities = pd.concat([activities, r_df])
        page += 1
    
    activities.drop_duplicates(subset=['id'], inplace=True)    
    return activities

In [124]:
# TESTING WHAT THE RESPONSE IS, AKA WHAT THAT r COMES BACK LOOKING LIKE

with open('strava_tokens.json') as json_file:
        strava_tokens = json.load(json_file)


if strava_tokens['expires_at'] < time.time():
        response = requests.post(
                            url = 'https://www.strava.com/oauth/token',
                            data = {
                                    'client_id': 88709,
                                    'client_secret': '54dab45b88619205ee1e47eb94d0f2d84762a4b2',
                                    'grant_type': 'refresh_token',
                                    'refresh_token': strava_tokens['refresh_token']
                                    }
                        ) 
        new_strava_tokens = response.json() 
        with open('strava_tokens.json', 'w') as outfile:
            json.dump(new_strava_tokens, outfile)
        strava_tokens = new_strava_tokens

page = 1
url = "https://www.strava.com/api/v3/activities"
access_token = strava_tokens['access_token']

activities = pd.DataFrame()
r = requests.get(url + '?access_token=' + access_token + '&per_page=200' + '&page=' + str(page))
r = r.json()

# the old method: 
#activities = pd.concat([activities, json_normalize(r)])
#activities.to_csv('strava_activities_raw_1.csv')

# the new method: 
activities = pd.concat([activities, pd.DataFrame.from_dict(r, orient='columns')])
activities.to_csv('strava_activities_raw_2.csv', index=False)

In [156]:
#set(strava_activities_raw_1.id) - set(test_str_activities_raw.id)

bool([v for v in list(strava_activities_raw_1.id) if v not in list(test_str_activities_raw.id)])

True

In [145]:
if []:
    print('nah')

In [107]:
#strava_activities_raw_1 = pd.read_csv('strava_activities_raw_1.csv')
strava_activities_raw_2 = pd.read_csv('strava_activities_raw_2.csv')

In [122]:
# always remember to pass index=False to not add an Unnamed column on your export!

In [114]:
strava_activities_raw_1.head(3)['average_speed']

0    2.630
1    0.979
2    3.016
Name: average_speed, dtype: float64

In [125]:
test_str_activities_raw = strava_activities_raw_2.iloc[3:]

In [126]:
activity_ids = list(test_str_activities_raw['id'])

In [127]:
strava_activities_raw_2.shape

(200, 56)

In [128]:
test_str_activities_raw.shape

(197, 56)

In [131]:
strava_activities_raw_2.head(5)

,Unnamed: 0,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,...,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed,suffer_score,average_watts,kilojoules,device_watts
0,0,2,"{'id': 23871091, 'resource_state': 1}",Afternoon Run,9684.7,3682,3685,314.0,Run,Run,...,7880648682,garmin_push_9117457633,False,6,0,False,102.0,NaN,NaN,NaN
1,1,2,"{'id': 23871091, 'resource_state': 1}",Afternoon Golf,10366.5,10586,14280,120.0,Golf,Golf,...,7876007090,garmin_push_9112316946,False,0,0,False,29.0,NaN,NaN,NaN
2,2,2,"{'id': 23871091, 'resource_state': 1}",Lunch Run,6529.2,2165,2168,132.0,Run,Run,...,7874481805,garmin_push_9110840088,False,0,0,False,47.0,NaN,NaN,NaN
3,3,2,"{'id': 23871091, 'resource_state': 1}",Lunch Run,9723.3,3264,3304,61.0,Run,Run,...,7868484844,garmin_push_9104450794,False,0,0,False,73.0,NaN,NaN,NaN
4,4,2,"{'id': 23871091, 'resource_state': 1}",Morning Run,32196.4,12853,12931,362.0,Run,Run,...,7856623564,garmin_push_9091593487,False,11,0,False,229.0,NaN,NaN,NaN

In [130]:
test_str_activities_raw.head(3)

,Unnamed: 0,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,...,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed,suffer_score,average_watts,kilojoules,device_watts
3,3,2,"{'id': 23871091, 'resource_state': 1}",Lunch Run,9723.3,3264,3304,61.0,Run,Run,...,7868484844,garmin_push_9104450794,False,0,0,False,73.0,NaN,NaN,NaN
4,4,2,"{'id': 23871091, 'resource_state': 1}",Morning Run,32196.4,12853,12931,362.0,Run,Run,...,7856623564,garmin_push_9091593487,False,11,0,False,229.0,NaN,NaN,NaN
5,5,2,"{'id': 23871091, 'resource_state': 1}",Lunch Run,9789.8,3128,3162,64.0,Run,Run,...,7844706162,garmin_push_9079167003,False,0,0,False,63.0,NaN,NaN,NaN

In [87]:
# I want to time these two different things: iterate over the df adding only the new rows
# or just appending the response then dropping dupes immediately

new_test_raw = pd.concat([response_df, test_str_activities_raw])

In [96]:
new_test_raw.shape

(800, 61)

In [95]:
new_test_raw.drop_duplicates(subset=['id'], inplace=True)

In [79]:

for activity in response_json:           #[0]['id']
    print(activity['id'])
    if activity['id'] in activity_ids:
        break
    else:
        pd.concat([json_normalize(activity), test_str_activities_raw], axis=0)

7395188303
7390944431
7389543804
7384051727

C:\Users\dansu\AppData\Local\Temp\ipykernel_12012\206313412.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  pd.concat([json_normalize(activity), test_str_activities_raw], axis=0)
C:\Users\dansu\AppData\Local\Temp\ipykernel_12012\206313412.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  pd.concat([json_normalize(activity), test_str_activities_raw], axis=0)
C:\Users\dansu\AppData\Local\Temp\ipykernel_12012\206313412.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  pd.concat([json_normalize(activity), test_str_activities_raw], axis=0)

In [52]:
test_str_activities_raw['id']

3      7384051727
4      7373215314
5      7362386558
6      7357786241
7      7352038723
8      7348290559
9      7342540098
10     7340486405
11     7319569765
12     7314918293
13     7309774433
14     7303783051
15     7299973019
16     7293707995
17     7288063515
18     7282237232
19     7273314296
20     7266468382
21     7256215176
22     7245056529
23     7240188526
24     7233936674
25     7229942915
26     7224096501
27     7218835356
28     7212574267
29     7207093585
30     7202278601
31     7197345247
32     7193030113
33     7192680297
34     7186813405
35     7181506998
36     7181017312
37     7180581474
38     7176084890
39     7171636545
40     7165512705
41     7159904786
42     7154042525
43     7137152715
44     7132913288
45     7127836348
46     7124993827
47     7122669524
48     7115364421
49     7095254686
50     7088839177
51     7083425271
52     7077910274
53     7067108450
54     7056622874
55     7051376234
56     7044719126
57     7040848623
58     7036012124
59     7029517189
60     7025444008
61     7025274836
62     7019368716
63     7014593082
64     7010135597
65     6998931964
66     6993964190
67     6982458282
68     6977278352
69     6972098139
70     6962004882
71     6956363927
72     6950607452
73     6947863984
74     6947335599
75     6946658007
76     6941935545
77     6938137209
78     6937031795
79     6927994109
80     6921956376
81     6913087053
82     6908848214
83     6903765719
84     6898617722
85     6894343598
86     6887913744
87     6887912205
88     6876319268
89     6872005729
90     6866822280
91     6856744379
92     6850583248
93     6844721808
94     6840035562
95     6835032693
96     6830062316
97     6825588584
98     6814196073
99     6809601797
100    6805339206
101    6799862003
102    6789266815
103    6779337673
104    6768655647
105    6763745351
106    6753122804
107    6737737830
108    6733250065
109    6728648630
110    6723195292
111    6714354879
112    6703692701
113    6698682961
114    6693718456
115    6687161745
116    6684076402
117    6673788964
118    6663107625
119    6658226890
120    6652595843
121    6643272625
122    6637520695
123    6626967760
124    6622225708
125    6617190032
126    6607049545
127    6601631339
128    6591718462
129    6586734665
130    6581478456
131    6571767248
132    6555546183
133    6551508011
134    6545267365
135    6530286408
136    6530278391
137    6524010421
138    6519336965
139    6514039215
140    6508562456
141    6499435407
142    6493607201
143    6488035328
144    6483775059
145    6478651660
146    6473997981
147    6457950483
148    6453605719
149    6449082936
150    6444562388
151    6444266475
152    6419578104
153    6404930799
154    6400353905
155    6396292179
156    6392361165
157    6388678140
158    6383227600
159    6381296063
160    6380412282
161    6376784081
162    6367804638
163    6364051468
164    6360232704
165    6356223578
166    6348654908
167    6339474479
168    6331656049
169    6327575866
170    6319487481
171    6315270606
172    6310644844
173    6306991190
174    6302904848
175    6298643252
176    6294018317
177    6290458889
178    6290458218
179    6285541343
180    6280534100
181    6277212743
182    6276124199
183    6272883822
184    6270663071
185    6268300523
186    6265996544
187    6263760682
188    6261432618
189    6259028272
190    6253533717
191    6245569465
192    6240800152
193    6235816201
194    6231844819
195    6221598053
196    6213215260
197    6209015706
198    6203542331
199    6199167923
200    6194265222
201    6189723618
202    6184332407
203    6181177013
204    6170901508
205    6166046833
206    6156805157
207    6147202216
208    6138008614
209    6133044434
210    6128578579
211    6122714795
212    6117731488
213    6114113834
214    6109045980
215    6099813908
216    6094618342
217    6089826528
218    6083502397
219    6078951963
220    6069118678
221    6064068301
222    6059607354
223    6048869335
224    6044895270
225    6039849823
226    6034867992
227    6013033929
228    6009227081
229    6004431887
230    5988041679
231    5982886826
232    5976606201
233    5967582114
234    5962185029
235    5961253128
236    5955458626
237    5951003775
238    5939614280
239    5933860349
240    5923506230
241    5918492088
242    5912728473
243    5901181275
244    5895275264
245    5891097725
246    5885744284
247    5879953164
248    5874689363
249    5868199817
250    5858800356
251    5854164708
252    5848667709
253    5847698190
254    5842694904
255    5837401616
256    5832035285
257    5831041279
258    5820325511
259    5809364088
260    5799405975
261    5793450664
262    5782664782
263    5776983521
264    5771712204
265    5766293279
266    5734287686
267    5728425307
268    5723852393
269    5718832685
270    5712318762
271    5708640378
272    5702827891
273    5698478182
274    5691887380
275    5686745881
276    5676030205
277    5672025192
278    5660018027
279    5655511398
280    5650423193
281    5643750498
282    5638289846
283    5633414508
284    5628233184
285    5623106565
286    5613323648
287    5591565175
288    5581529118
289    5570150071
290    5560135610
291    5554497467
292    5550979496
293    5533266637
294    5523991768
295    5519840883
296    5518666162
297    5513103403
298    5508032962
299    5503535711
300    5496896604
301    5487155339
302    5482991903
303    5476625972
304    5466516122
305    5458738772
306    5448786678
307    5443021080
308    5438148387
309    5419460632
310    5412633618
311    5408597056
312    5397609069
313    5386684740
314    5378904548
315    5368962498
316    5363442944
317    5355814284
318    5348000374
319    5340830083
320    5331360150
321    5326597495
322    5321266719
323    5317783408
324    5302847841
325    5297319726
326    5282211148
327    5270259544
328    5263979522
329    5252696594
330    5248720137
331    5243796435
332    5233383921
333    5232976153
334    5226620789
335    5225779761
336    5215217842
337    5209739084
338    5204211855
339    5193782056
340    5186099250
341    5174734219
342    5169495335
343    5164043155
344    5139539823
345    5133867089
346    5128120253
347    5122163082
348    5111609355
349    5104207368
350    5092954118
351    5087569313
352    5081550721
353    5070964798
354    5070946293
355    5064711680
356    5051841566
357    5046283749
358    5040161581
359    5028844574
360    5020797480
361    5010510482
362    5010217720
363    5002751867
364    4998874436
365    4980820694
366    4969635677
367    4964055642
368    4958833167
369    4940863323
370    4930998961
371    4926042846
372    4920878689
373    4914717806
374    4902331493
375    4891261862
376    4885826572
377    4879978962
378    4869378650
379    4868470576
380    4860739938
381    4850016629
382    4844072064
383    4838434996
384    4832479762
385    4819967149
386    4819897445
387    4809755574
388    4798392283
389    4787823846
390    4782796723
391    4771978127
392    4767739378
393    4762590471
394    4753057699
395    4746289767
396    4735434859
397    4729843605
398    4729757793
399    4724428590
400    4713464740
401    4706701231
402    4697117235
403    4691918559
404    4686845079
405    4668554871
406    4657547899
407    4654268375
408    4648729243
409    4639283444
410    4631499298
411    4621266766
412    4616304238
413    4611139533
414    4601700154
415    4589213862
416    4583911223
417    4579200944
418    4573478170
419    4567860519
420    4556210919
421    4551603922
422    4551413355
423    4545939743
424    4540749423
425    4535914747
426    4531869521
427    4531021484
428    4527394452
429    4522248929
430    4521526734
431    4517380889
432    4513844348
433    4509324675
434    4505802879
435    4498487476
436    4484872942
437    4481238178
438    4472994002
439    4464324464
440    4455462409
441    4448036794
442    4439887923
443    4434241748
444    4426288812
445    4418085872
446    4413807648
447    4404307915
448    4403747594
449    4399288195
450    4394957235
451    4394780837
452    4381539780
453    4377728297
454    4372093241
455    4366372378
456    4362173095
457    4358370432
458    4347995923
459    4344258201
460    4333853323
461    4328866721
462    4324973508
463    4319960492
464    4310893712
465    4299122597
466    4286833320
467    4282683101
468    4277649222
469    4273705272
470    4269032664
471    4263529159
472    4260003324
473    4251889504
474    4243880994
475    4238419917
476    4234405224
477    4230297323
478    4226091285
479    4222003119
480    4215999609
481    4213310264
482    4208764864
483    4199807898
484    4195552634
485    4191492285
486    4187423714
487    4178339218
488    4173918590
489    4169318341
490    4161329027
491    4156937544
492    4152560088
493    4147605403
494    4143227405
495    4134666172
496    4126144626
497    4112350912
498    4107841338
499    4098995865
500    4089919171
501    4083669813
502    4051143425
503    4036431969
504    4017962522
505    4002723565
506    3993913592
507    3988994685
508    3984236750
509    3979880187
510    3960796273
511    3942538333
512    3938487897
513    3933053603
514    3927779441
515    3923898149
516    3919147862
517    3910047381
518    3904158260
519    3894190016
520    3885252186
521    3865221298
522    3855997481
523    3851046408
524    3840251334
525    3838839265
526    3838838183
527    3838835876
528    3838835086
529    3838834153
530    3772462853
531    3769120916
532    3763107356
533    3753966439
534    3748212289
535    3729735814
536    3724808032
537    3719379651
538    3714088308
539    3709115596
540    3700875366
541    3671908343
542    3665939070
543    3660783275
544    3656462408
545    3635470810
546    3631928763
547    3620442283
548    3614977953
549    3609899437
550    3595872322
551    3580728405
552    3574457807
553    3564772123
554    3554897424
555    3544799493
556    3539070449
557    3532373508
558    3516316355
559    3506891994
560    3501139434
561    3495462551
562    3491087337
563    3479433034
564    3474557291
565    3469382175
566    3456639416
567    3442627812
568    3427106752
569    3421386510
570    3415707432
571    3410229036
572    3405075469
573    3399503122
574    3394182312
575    3388334570
576    3381677063
577    3368800073
578    3363121962
579    3358885805
580    3353467938
581    3347730065
582    3337779612
583    3333993879
584    3328046362
585    3314063167
586    3304484396
587    3291472075
588    3291171929
589    3286759000
590    3277595358
591    3272822021
592    3264172612
593    3255809477
594    3247845056
595    3239966567
596    3225025122
597    3221811321
598    3198419801
599    3189348864
600    3184027479
601    3184007616
602    3180876043
603    3178433805
604    3169961569
605    3168544012
606    3167419736
607    3167416543
608    3163615394
609    3160473498
610    3160007300
611    3159289888
612    3157975137
613    3157447460
614    3156555693
615    3155415905
616    3155292800
617    3155456765
618    3153673142
619    3152316812
620    3151726010
621    3150715139
622    3149486111
623    3149289076
624    3148726483
625    3147935574
626    3146565574
627    3140290303
628    3139169413
629    3135245242
630    3133873473
631    3132544068
632    3131063685
633    3128227099
634    3127024089
635    3123285423
636    3120450646
637    3119306436
638    3118044004
639    3116667176
640    3100356515
641    3099210844
642    3097909676
643    3096532858
644    3095201880
645    3093716656
646    3092352630
647    3090857544
648    3087210335
649    3083970873
650    3080847135
651    3079746807
652    3078418166
653    3077000868
654    3075689174
655    3055117286
656    3013641215
657    3010736636
658    3006534898
659    3002702562
660    2999938466
661    2998840407
662    2997532660
663    2996110397
664    2994706070
665    2993238437
666    2991835796
667    2990309540
668    2988876624
669    2987511571
670    2979716684
671    2978572438
672    2977178484
673    2975829314
674    2971585689
675    2961231453
676    2956327899
677    2942224926
678    2939070854
679    2937958452
680    2936955343
681    2931123304
682    2930348462
683    2929373300
684    2928431396
685    2927564850
686    2891729658
687    2890584107
688    2884253960
689    2883360559
690    2882308313
691    2881192756
692    2880048433
693    2878899303
694    2876393713
695    2875193055
696    2874069200
697    2867579613
698    2866687881
699    2865594593
700    2864547041
701    2862289210
702    2861116496
703    2859908834
704    2851064468
705    2850138598
706    2849039350
707    2847924303
708    2846787828
709    2846640874
710    2841827719
711    2840638993
712    2839465075
713    2839464790
714    2832063759
715    2831010587
716    2829890545
717    2828680204
718    2827510650
719    2826149991
720    2824904918
721    2823701550
722    2822511602
723    2815925984
724    2814763796
725    2813542639
726    2812361892
727    2811039562
728    2809782464
729    2808450004
730    2807175414
731    2805986269
732    2801671842
733    2792297210
734    2790882010
735    2780309631
736    2780091607
737    2777890945
738    2775384490
739    2774154808
740    2772719399
741    2770258807
742    2725166366
743    2723848801
744    2722433958
745    2685959111
746    2684832655
747    2682203895
748    2680759222
749    2679296207
750    2678067744
751    2671773344
752    2656009199
753    2656008955
754    2648174321
755    2574540402
756    2571181312
757    2568623803
758    2568218334
759    2565760555
760    2565354805
761    2560316738
762    2552598776
763    2548644609
764    2537829396
765    2537859841
766    2537860114
767    2537860089
768    2537859796
769    2537859976
770    2537860124
771    2537860135
772    2537859787
773    2537860012
774    2537859973
775    2537859964
776    2537859887
777    2537859993
778    2537860091
779    2537859817
780    2537859979
781    2537860025
782    2537859842
783    2537859909
784    2537859896
785    1763601447
786    1752509562
787    1752472286
788    1752462166
789    1752475914
790    1750106495
791    1750101094
792    1748149705
793    1746168782
794    1747170584
795    1559187857
796    1555065604
797    1552077574
798    1546452458
799    1546302763
Name: id, dtype: int64

In [7]:
#strava_activities = get_strava_data().to_csv('strava_activities.csv')

strava_activities = pd.read_csv('strava_activities.csv')

In [6]:
strava_activities.sport_type.unique()

array(['Run', 'Ride', 'Walk', 'Golf', 'Hike', 'NordicSki', 'AlpineSki',
       'Elliptical', 'Rowing', 'StandUpPaddling', 'Kayaking'],
      dtype=object)

In [8]:
strava_activities.head()

,Unnamed: 0,resource_state,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,...,has_kudoed,suffer_score,athlete.id,athlete.resource_state,map.id,map.summary_polyline,map.resource_state,average_watts,kilojoules,device_watts
0,0,2,Afternoon Run,9684.7,3682,3685,314.0,Run,Run,NaN,...,False,102.0,23871091,1,a7395188303,u{ztGxwhkVTE|@E`AApAJlA?p@Fh@@l@@h@ExA@pBJdA@p...,2,NaN,NaN,NaN
1,1,2,Afternoon Golf,10366.5,10586,14280,120.0,Golf,Golf,NaN,...,False,29.0,23871091,1,a7390944431,ea{tGzhxjVALGCHAEFICNGEa@aAkGDYNDKDUaADI_@Y_Aq...,2,NaN,NaN,NaN
2,2,2,Lunch Run,6529.2,2165,2168,132.0,Run,Run,NaN,...,False,47.0,23871091,1,a7389543804,szztGfvhkVRDR?NEbBF|BAV@^HX@j@Gf@Bh@CnADzAC\@D...,2,NaN,NaN,NaN
3,3,2,Lunch Run,9723.3,3264,3304,61.0,Run,Run,NaN,...,False,73.0,23871091,1,a7384051727,}_{tGbxhkVIQcAEe@Fu@AyAJq@AWC_@KOA{@EqB@sCDcEC...,2,NaN,NaN,NaN
4,4,2,Morning Run,32196.4,12853,12931,362.0,Run,Run,NaN,...,False,229.0,23871091,1,a7373215314,cm}tGjq`lV~ErGt@lBuHl@{CkAqRlBs@b@SvAkCM_JvHWl...,2,NaN,NaN,NaN